<!DOCTYPE html>
<html>
    <head>
        <title>Painter Lab Checklist Server</title>
        <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
    </head>
    <body>
