<!DOCTYPE html>
<html>
    <head>
        <title>Edit message</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
        <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script>
            var old_dateStr = <%- JSON.stringify(old_dateStr) %>;
            // var old_id = <%- old_id %>;
            var showOnHome = false;
            var addr = window.location.href;
            var id_addr = addr.substr(addr.length - 24);
            

            $(function() {
                $("#post_button").click(function() {
                    post_message(old_dateStr);
                });  
            });
            
            function post_message(clickDate) {
                var new_message = $("#post_message").val();
                var new_author = $("#post_author").val();
                var curdate = clickDate;
                alert("Updated.")
                $.ajax({
                    url: "/checklist/noticeboard/edit",
                    type: "POST",
                    dataType: "json",
                    data: { "id": id_addr, "text": new_message , "author": new_author, "dateStr": curdate, "show": showOnHome},
                    success: function (data) {
                        get_messages();                      
                    }
                });
            }

            function GoBack(event) {
                window.location.replace("http://friday.caltech.edu/checklist/noticeboard");
             }

        </script>
    <style type="text/css" >
        .btn-primary {
        color: #fff !important;
        background-color: #007bff !important;
        border-color: #007bff !important;
        }
        .input {
            width: 100%;
            display: block;
                overflow: hidden;
                padding-right:10px;
        }
    </style>
    </head>
    <body>
    <br>
    <div class="container" id = "top_container" align = "center"><div class="jumbotron" id="message_top_jumbo">
    <br>
    <div class="container" align ="center">
    <h3><strong>Message: &emsp;</strong> <input type="text" name="post_message" id="post_message" value = "<%= old_text %>"/> </h3>
     <br>
    <h3><strong>Author:&emsp; </strong> <input type="text" name="post_author" id="post_author" value = "<%= old_author %>"/></h3>
    <br>
    <% if (old_showOnHome == "false") { %>
    <h3><strong>Display:&emsp; </strong><input type="checkbox" id="toggledoggle" data-toggle="toggle" data-on="Show On Home" data-off="Hide From Home" data-onstyle="success" data-offstyle="danger"></h3>
    <%}%>
    <% if (old_showOnHome == "true") { %>
    <h3><strong>Display:&emsp; </strong><input type="checkbox" id="toggledoggle" checked data-toggle="toggle" data-on="Show On Home" data-off="Hide From Home" data-onstyle="success" data-offstyle="danger"></h3>  
    <%}%>
    <div id="console-event"></div>
    <script>
      $(function() {
        $('#toggledoggle').change(function() {
          showOnHome = $(this).prop('checked');
        })
      })
    </script>
    <br>
</div>
    <br>
    <button type="button" class="btn btn-success" name="post_button" id="post_button">Update</button>
    <button type="button" class="btn btn-secondary" onclick="GoBack()">Go Back</button>
    </div> 
    </div> 
    </body>
</html>
