<!DOCTYPE html>
<html>
    <head>
        <title>Notice Board</title>
        
        <!-- <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" /> -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
        <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
        <script>

            var showOnHome = false;

            $(function() {
                $("#post_button").click(function() {
                    clickDate = Date.now();
                    post_message(clickDate);
                });  
                get_messages();
            });
            
            
            // $(document).on('click', '.delete_button', function(){
            //     delete_message(this.id);
            // });

             $(document).on('click', ':submit', function(){
                delete_message(this.id);
            });


            function get_messages() {
                $.ajax({
                    url: "/checklist/noticeboard/messages",
                    dataType: "json",
                    success: function (data) {
                        update_message_list(data);
                    }
                });
            }
            
            function post_message(clickDate) {
                var new_message = $("#post_message").val();
                var new_author = $("#post_author").val();
                var curdate = clickDate;
                $.ajax({
                    url: "/checklist/noticeboard/messages",
                    type: "POST",
                    dataType: "json",
                    data: { "id": curdate, "text": new_message , "author": new_author, "dateStr": Date(curdate), "show": showOnHome},
                    success: function (data) {
                        get_messages();
                    }
                });
            }

            function delete_message(deleteid) {
                $.ajax({
                    url: "/checklist/noticeboard/delete/" + deleteid,
                    dataType: "json",
                    success: function (data) {
                        get_messages();
                    }
                });
            }

            function update_message(updateid) {
                $.ajax({
                    url: "/checklist/noticeboard/messages/" + updateid,
                    dataType: "json",
                    success: function (data) {
                        get_messages();
                    }
                });
            }

            function update_message_list(message_data) {
                $("#message_list").html("");
                message_data.reverse();
                $.each(message_data, function(index, value) {
                    $("#message_list").append("<div class=\"container\" id = \"message_container\"><div class=\"h3\">\"" + value.content.text + "\" - " + value.content.author + "</div><br><div class=\"h4\">" + "<button class=\"btn btn-danger\"  name=\"delete_button\" type=\"submit\" id=" + value.id + ">Delete</button>" + "&emsp;"+ value.content.dateStr + "</div></div>" + "<br>");
                });
            }
            function GoBack(event) {
                    window.history.back();
                }

        </script>
    <style type="text/css" >
        .btn-primary {
        color: #fff !important;
        background-color: #007bff !important;
        border-color: #007bff !important;
        }
    </style>
    </head>
    <body>
        

        <br>
    <div class="container" id = "top_container" align = "center"><div class="jumbotron" id="message_top_jumbo">
    <br>
    <h3><strong><u>Message:</u></strong></h3>
    <input type="text" name="post_message" id="post_message" size= 80 /> <br>
    <h3><strong><u>Author:</u></strong></h3>
    <input type="text" name="post_author" id="post_author" size= 10/>
    <br>
    <br>
    <input type="checkbox" id="toggledoggle" data-toggle="toggle" data-on="Show On Home" data-off="Hide From Home" data-onstyle="success" data-offstyle="danger">
    <div id="console-event"></div>
    <script>
      $(function() {
        $('#toggledoggle').change(function() {
          showOnHome = $(this).prop('checked');
        })
      })
    </script>
    <br>
    <button type="button" class="btn btn-success" name="post_button" id="post_button">Post </button>
    <button type="button" class="btn btn-primary" onclick="GoBack()">Go Back</button>
    </div> 
    </div> 
    <div class="container"><div class="jumbotron" id="message_jumbo">
    <h2><strong><u>Notices</u></strong></h2>
    <br>
    <ul id="message_list"></ul>
    </div> 
    </div> 
    </body>
</html>
