.alert-danger{
    border-radius: 0rem !important;
    margin-bottom: 0rem !important;
    border: 0px solid transparent !important;
    padding: 2rem 1rem !important;
}
.jumbotron {
  background: #000000;
  color: white;
  padding-bottom: 20px;
  padding-top: 20px;}
  .jumbotron .btn-primary {
    background: #845ac7;
    border-color: #845ac7; }
    .jumbotron .btn-primary:hover {
      background: #7646c1; }
  .jumbotron p {
    color: #d9ccee;
    max-width: 75%;
    margin: 0em auto 0em; }
    .jumbotron h1 {
      color: #FFFFFF;
      max-width: 75%;
      margin: 0em auto 0em; }
  .navbar + .jumbotron {
    margin-top: -20px; }
  .jumbotron .lang-logo {
    display: block;
    background: #B01302;
    border-radius: 100%;
    overflow: hidden;
    width: 100px;
    height: 100px;
    margin: auto;
    border: 2px solid white; }
    .jumbotron .lang-logo img {
      max-width: 100%; }
     .alert {
         text-align: center;
     }
     .jumbotron h2{
         text-align: center;
     }

     .c-forms-heading h2{
    font-size: 72px !important;
    color: #000000 !important;
}
.cognito .c-label label, .cognito .c-label{
  color: #000000 !important;
  font-size: 24px !important;
}
.cognito input[type=text], .cognito .c-dropdown{
    border-width: 3px !important;
    border-color: #000000 !important;
    /*border-radius: 8px !important;*/
    font-size: 16px !important;
    /*padding: 10px !important;*/
}

.cognito .c-section{
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 16px 16px;
    margin: 0px 0px;
    box-shadow: inset 0px 0px 4px;
}
#c-submit-button {
  background-color: #1a8e00 !important;
  border-radius: 10px !important;
}

.c-page-nav{
  border-radius: 10px !important;
}
.c-yesno-toggle{
    border-width: 3px !important;
    border-color: #000000 !important;
    font-size: 16px !important;

}
.c-text-singleline .c-text-multiplelines .c-editor{
  font-size: 16px !important;
  border-width: 3px !important;
  border-color: #000000 !important;
}
 .cognito button {
  position: relative;
  font-size: 40px !important;
  padding: 32px 32px;
  align-self: center !important;
  font-weight: bold;

 }
 .cognito .c-action{
    margin: auto !important;
    float: none !important;
    padding: 20px 2px;
 }

 .c-helptext {
  font-size: 16px !important;
}

 .c-title > *{
  font-size: 35px !important;
  font-weight: bold;
 }

  .c-validation {
  font-size: 16px !important;
  font-weight: bold;
 }

.c-yesno-checkbox{
  font-size: 24px !important;
  font-weight: bold;
}

.cognito .has-switch{
    border: 3px solid;
    border-color: #000000;
}
 .cognito .has-switch span.switch-left{
     color: #ffffff;
     background-color: #000000;
     font-size: 16px;
         background-image: none !important;
         /*border-color: #fff #fff #fff important!;*/
 }

 .cognito .has-switch span.switch-right{
     color: #000000;
     background-color: #000000;
     background-color: #000000;
     font-size: 16px;
    /*border-color: #fff #fff #fff important!;*/
 }
 .cognito .has-switch label{
     margin-top: 0px !important;
margin-bottom: 0px !important;
border-left: 0px solid #000;
border-right: 0px solid #000;
    border-bottom: 0px solid #000;
 }
.cognito .c-forms-form input[type=text], .cognito .c-forms-form input[type=password], .cognito .c-forms-form textarea, .cognito .c-forms-form select{
         border: 3px solid !important;
 }

iframe {
  display:block;
  margin: auto; 
}

#message_top_jumbo { background: #dbffd3; 
color: black;}
#message_jumbo { background: #dbeffc; color: black;}

#message_container { background: #dbdbdb; color: black;}

input {
  font-size: 24px;
}